<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-sm-1 col-xs-1 col-md-2"></div>
            <div class="col-sm-10 col-xs-10 col-md-8 logo">
                <img src="img/bcbk_logo2.svg">
            </div>
            <div class="col-sm-1 col-xs-1 col-md-2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <a role="button" class="hover-fade white-btn" ui-sref="session">SESSIONS
            </a>
        </div>
    </div>
</div>