<div class="box-content">
    <div class="regisHead">
        <h1>Edit Your Profile</h1>
    </div>
    <form data-toggle="validator" role="form" onsubmit="submitRegistration()">
        <div class="regisContent">
            <div class="inform">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="firstname" required>
                        </div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="lastname" required>
                        </div>

                        <div class="col-sm-4 col-sm-offset-2">
                            <label>Gender</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="gender" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>

                        <div class="col-sm-4 col-sm-offset-2">
                            <label>Profession</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="profession" required>
                        </div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <label>Workplace</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="workplace" required>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <label>Email</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="email" class="form-control" id="email"
                                       data-error="Bruh, that email address is invalid" disabled>

                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <label>Twitter</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">@</div>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" maxlength="15"
                                           class="form-control" id="twitter" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-sm-offset-2">
                            <label>Website</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="website">
                        </div>

                        <div class="col-sm-4 col-sm-offset-2">
                            <label>Food Requirements</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="food-requirement" class="form-control">
                                <option value="None">None</option>
                                <option value="Islam">Islam (อิสลาม)</option>
                                <option value="Vegeterian">Vegeterian (มังสวิรัติ)</option>
                            </select>
                        </div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <label>Food Allergy</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="allergy">
                        </div>
                    </div>
                </div>
            </div>
            <div class="regisFooter">
                <div class="container">
                    <div class="row">
                        <div class="text-wrap">
                            <h1>Interests</h1>
                        </div>
                        <div class="col-sm-8 col-sm-offset-2">
                            <input id="interest" class="form-control">
                        </div>
                    </div>

                    <div class="form-group button-wrap">
                        <button type="submit" class="btn regis-btn hvr-fade">UPDATE</button>
                        <div class ="regis-loading">
                          <div class="spinner"></div>
                          Updating...
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>

    <div class="regisSuccess">
        <div class="row">
            <div style="font-size: 30px;">
                <i class="fa fa-check fa-5x"></i>
            </div>
        </div>
        <div class="row">
            <h2>Update Successfully</h2>
            <br>
        </div>
        <div class="row">
            <h5>Your registration is successfully updated!</h5>
        </div>
        <div class="row">
            <h5>In either case, check your name at Who's coming and see you at Barcamp.</h5>
        </div>
        <div class="row">
            <br><br>
            <button class="btn btn-default btn-lg outline btn-back hvr-fade" role="button" ng-click="backToEditUser()">
                BACK
            </button>
        </div>
    </div>
</div>
