<section class="contact section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h4>BARCAMP BANGKHEN 2015</h4>
            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">
                <h4>CONNECT WITH US</h4>

                <a class="circle" href="https://www.facebook.com/Barcampbangkhen">
                    <i class="fa fa-facebook fa-2x"></i>
                </a>
                <a class="circle" href="https://twitter.com/barcampbangkhen">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
            </div>
            <div class="col-lg-3">
                <h4>CONTACT US:</h4>

                <p>info@barcampbangkhen.org</p>
            </div>
        </div>

    </div>
</section>

<section class="power-by">
    <div class="container text-center">Created by CPSK NISIT :)</div>
</section>