<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navText page-scroll" href="#main">
                <p class="nav-brand-text">bcbk</p>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#schedule">
                        <p class="nav-link-text">Schedule</p>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#location">
                        <p class="nav-link-text">Location</p>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#sponsors">
                        <p class="nav-link-text">Sponsors</p>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#register">
                        <p class="nav-link-text">Register</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="resendmail">
                        <p class="nav-link-text">Resend Email</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="whoscoming({reload:true})">
                        <p class="nav-link-text">Who's Coming</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="session">
                        <p class="nav-link-text">Session</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="cover" class="cover section" ng-include src="'templates/cover.html'"></section>

<section id="quick-info" class="quick-info-bar" ng-include src="'templates/quick-info.html'"></section>

<section id="quick-about" class="quick-about section" ng-include src="'templates/quick-about.html'"></section>

<section id="schedule" class="schedule section" ng-include src="'templates/schedule.html'"></section>

<section id="location" class="location section" ng-include src="'templates/location.html'"></section>

<section id="map" class="map section"></section>

<section id="parking-and-transport" class="parking-and-transport section" ng-include src="'templates/parking-and-transport.html'"></section>

<section id="sponsors" class="sponsor section" ng-include src="'templates/sponsor.html'"></section>

<section id="register" class="register section" ng-include src="'templates/register.html'"></section>

<section id="footer" class="footer" ng-include src="'templates/footer.html'"></section>

<script>
    $(document).ready(function () {
        var resizeFunction = function () {}
        resizeFunction();
        $(window).resize(resizeFunction);
        var G = google.maps;
        var center = new G.LatLng(13.846458, 100.5695385)
        mapOptions = {
            scrollwheel: false,
            zoom: 15,
            center: center,
            mapTypeId: G.MapTypeId.ROADMAP
        }
        var map = new G.Map(document.getElementById("map"), mapOptions)
        var marker = new G.Marker({
            position: center,
            map: map,
            title: 'IUP International Building 17'
        })

        var Basketball = new G.Marker({
            position: new G.LatLng(13.846062, 100.567658),
            map: map,
            label: 'F',
            title: 'Basketball Field Parking'
        })

        var ngam1 = new G.Marker({
            position: new G.LatLng(13.842940, 100.570658),
            map: map,
            label: 'A',
            title: 'Ngam Wong Wan 1'
        })

        var ngam2 = new G.Marker({
            position: new G.LatLng(13.843564, 100.569517),
            map: map,
            label: 'B',
            title: 'Ngam Wong Wan 2'
        })

        var lh1 = new G.Marker({
            position: new G.LatLng(13.846803, 100.570714),
            map: map,
            label: 'E',
            title: 'Lecture Hall 1'
        })

        var jb = new G.Marker({
            position: new G.LatLng(13.849192, 100.567605),
            map: map,
            label: 'G',
            title: ''
        })

        var vipa = new G.Marker({
            position: new G.LatLng(13.851802, 100.564459),
            map: map,
            label: 'C',
            title: ''
        })

        var bk = new G.Marker({
            position: new G.LatLng(13.854023, 100.570661),
            map: map,
            label: 'D',
            title: ''
        })

    });
</script>
