<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand navText page-scroll" href="#main">
                <p class="nav-brand-text">BarCamp</p>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->

                <li>
                    <a class="page-scroll" href="#schedule">
                    <p class="nav-link-text">Schedule</p>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#location">
                    <p class="nav-link-text">Location</p>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" ui-sref="whoscoming">
                    <p class="nav-link-text">Who's Coming</p>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#sponsors">
                    <p class="nav-link-text">Sponsors</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="main" class="main-section main">
      <div class="container">
          <div class="padding">
            <div class="col-xs-1 col-sm-1 col-md-4"></div>
            <div class="col-xs-9 col-sm-9 col-md-4 col2">
              <img src="img/bcbk-logo.png" class="img-responsive">

              <div class="row">
                <a role="button" class="registerBtn btn btn-lg" ui-sref="register({reload:true})">REGISTER</a>
              </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-4"></div>
          </div>
        <div class="row bigRow">
            <div class="col-xs-12 col-sm-12 col-md-4 footSqr">
               <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 subFootSqrIcon">
                   <i class="fa fa-clock-o fa-5x"></i>
               </div>
               <div class="col-xs-9 col-sm-9 col-md-9 subFootSqr">
                   <p class="text">22 November 2015</p>
                   <p class="text">9:00 AM - 5:00 PM</p>
               </div>
               </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 footSqr">
              <div class="row">
                  <div class="col-xs-3 col-sm-3 col-md-3 subFootSqrIcon">
                   <i class="fa fa-map-marker fa-5x"></i>
               </div>
               <div class="col-xs-9 col-sm-9 col-md-9 subFootSqr">

                   <p class="text">IUP Building 17</p>
                   <p class="text">Kasetsart University</p>

               </div>
              </div>


            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 footSqr">
              <div class="row">
                  <div class="col-xs-3 col-sm-3 col-md-3 subFootSqrIcon">
                   <i class="fa fa-twitter fa-5x"></i>
                   </div>
               <div class="col-xs-9 col-sm-9 col-md-9 subFootSqr">

                   <p class="text bcbk">#bcbk</p>

               </div>
              </div>
            </div>
        </div>
      </div>

</section>

<section id="schedule" class="schedule-section schedule">
<div class="container">
      <h1>SCHEDULE</h1>
      <p class="date">22 November 2015</p>
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-3">
          <div class="time">
              9.00 AM - 9.45 AM
          </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9">
          <div class="activity-topic">Registration and Sessions Building</div>
          <p class="activity-description">
          A quick brown fox jumps over the lazy dog. a quick brown fox jumps<br>over               the lazy dog. a quick brown fox jumps over the lazy dog.
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-3">
          <div class="time">
              9.45 AM - 10.30 AM
          </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9">
          <div class="activity-topic">Opening Ceremony</div>
              <p class="activity-description">
              BarCamp is an "unconference" - a full day of sessions on a variety of                     to<br> pics, collaboratively built by the people. for the people.
              </p>
      </div>

  </div>
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-3">
          <div class="time">
              10.40 AM - 12.05 AM
          </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9">
          <div class="activity-topic">Morning Sessions</div>
              <div class="time">
                  10.40 - 11.05 | 11.10 - 11.35 | 11.40 - 12.05
              </div>
          <p class="activity-description">
          My Account gives you quick access to settings and tools that let you<br>                 safe guard your data, protect your privacy
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-3">
          <div class="time">
              12.10 AM - 1.00 PM
          </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9">
          <div class="activity-topic">Lunch</div>
          <p class="activity-description">
          Control, protect, and secure you account, all in once place
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-3">
          <div class="time">
              1.00 PM - 2.55 PM
          </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9">
          <div class="activity-topic">Afternoon Sessions</div>
              <div class="time">
                  1.00 - 1.25 | 1.30 - 1.55 | 2.00 - 2.25 | 2.30 - 2.55
              </div>
          <p class="activity-description">
          Manage your visibility settings and the data we use to personalize your                   experience.
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-3">
          <div class="time">
              3.00 PM - 3.20 PM
          </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9">
          <div class="activity-topic">Coffee Break</div>
          <p class="activity-description">
          Control your password and account access settings.
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-3">
          <div class="time">
              3.20 PM - 4.45 PM
          </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9">
          <div class="activity-topic">Back to Afternoon Sessions</div>
              <div class="time">
                  3.20 - 3.45 | 3.50 - 4.15 | 4.20 - 4.45
              </div>
          <p class="activity-description">
          Set language, accessibility, and other settings that help you use Google.                 <br>Control your password and account-access settings.
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-3">
          <div class="time">
              5.00 PM - 8.00 PM
          </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9">
          <div class="activity-topic">After Party</div>
          <p class="activity-description">
          A quick brown fox jumps over the lazy dog.
          </p>
      </div>
  </div>
</div>
</section>

<section id="location" class="location-section">
<div class = "ea">
        <div class = "container">
            <div class = "row">
                <div class = "col-lg-12">
                    <h1><font color = "#E8E8E8"><b>LOCATION</b></font></h1>
                    <h2><font color = "#F0E6B1"><b>IUP Building 17<br>Kasetsart University</b></font></h2>
                </div>
            </div>
        <div class="image-wrapper"onclick="window.location='https://www.google.co.th/maps/place/13%C2%B050\'46.9%22N+100%C2%B034\'10.7%22E/@13.8463602,100.5521293,14z/data=!4m2!3m1!1s0x0:0x0?hl=en';">
            <img src="img/location.png" class="img-responsive">
        </div>
        </div>

        

        <div class = "container">
            <div class = "row">
                <div class = "col-lg-6">
                    <br>
                    <h4><font color = "#E8E8E8"><b>FREE PARKING</b></font><br></h4>
                    <b><font color = "#F0E6B1">LH1 Parking</font></b>
                    <ul>
                        <font color = "#E8E8E8"><b>
                            <li>Location: LH1 (next to 7-Eleven)</li>
                            <li>Capacity: 30</li>
                            </b></font>
                    </ul>

                    <b><font color = "#F0E6B1">Basketball Field Parking</font></b>
                    <ul>
                        <font color = "#E8E8E8"><b>
                            <li>Location: Opposite of computer engineering building</li>
                            <li>Capacity: 40</li>
                            </b></font>
                    </ul>

                    <b><font color = "#F0E6B1">Jakbandhu Building Parking</font></b>
                    <ul>
                        <font color = "#E8E8E8"><b>
                            <li>Location: Behind Jakbandhu building</li>
                            <li>Capacity: 150</li>
                        </b></font>
                    </ul>

                    <b><font color = "#70584B">Illegal or double parking may result in wheel clamp and 500THB fine imposed.</font></b>
                    <br><br>
                    <h4><font color = "#E8E8E8"><b>TRANSPORTATION</b></font><br></h4>
                    <div class = "row">
                        <div class = "col-lg-6">
                            <font color = "#F0E6B1"><b>Bus</b></font>
                            <br>
                            <font color = "#E8E8E8"><b>24 26 29 39 51 52 59 63 104 107 114 126 129 177 185 186 522 524 528 545</b></font>
                        </div>

                        <div class = "col-lg-6">
                            <font color = "#F0E6B1"><b>Van</b></font>
                            <br>
                            <font color = "#E8E8E8"><b>14 40 62 79</b></font>
                            <br>
                            <font color = "#F0E6B1"><b>KU Shuttle Bus</b></font>
                            <br>
                            <font color = "#E8E8E8"><b>1 2 4</b></font>
                        </div>

                    </div>

                </div>
                <div class = "col-lg-6">
                    <br>
                    <h4><font color = "#E8E8E8"><b>PAID PARKING</b></font><br></h4>
                    <b><font color = "#F0E6B1">Ngam Wong Wan 1 Parking Building</font></b>
                    <ul>
                        <font color = "#E8E8E8"><b>
                            <li>Price: 10THB/hr</li>
                            <li>Location: Ngam Wong Wan 1 entrance</li>
                            <li>Capacity: 210</li>
                        </b></font>
                    </ul>

                    <b><font color = "#F0E6B1">Ngam Wong Wan 2 Parking Building</font></b>
                    <ul>
                        <font color = "#E8E8E8"><b>
                            <li>Price: 10THB/hr</li>
                            <li>Location: Ngam Wong Wan 2 entrance</li>
                            <li>Capacity: 192</li>
                        </b></font>
                    </ul>

                    <b><font color = "#70584B">For the above locations please collect a parking stamp at the event to be eligible for 20THB parking from the entire period of 8.00AM - 4.30PM</font></b>
                    <br><br>
                    <b><font color = "#F0E6B1">Vibhavadi Parking Building</font></b>
                    <ul>
                        <font color = "#E8E8E8"><b>
                            <li>Price: 10THB/hr</li>
                            <li>Location: Vibhavadi entrance</li>
                            <li>Capacity: 245</li>
                        </b></font>
                    </ul>

                    <b><font color = "#F0E6B1">Bangkhen Parking Building</font></b>
                    <ul>
                        <font color = "#E8E8E8"><b>
                            <li>Price: 10THB/hr</li>
                            <li>Location: Behind KU Golden Jubilee building</li>
                            <li>Capacity: 300</li>
                        </b></font>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="sponsors" class="sponsors-section">
   <div class="container text-center">
<!--        <div class="well VIP-banner">-->
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <img class="img-rounded img-responsive vcenter center-block" src="img/eng_ku.png">
          </div>
        </div>
<!--        </div>-->

<!--        <div class="well si-banner">-->
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class=" col-md-6 col-sm-12">
              <div class="center-block">
                <img class="img-rounded img-responsive vcenter center-block" src="img/wongnai.svg" >
              </div>
            </div>
            <div class=" col-md-6 col-sm-12">
              <div class="center-block">
                <img class="img-rounded img-responsive vcenter center-block" src="img/Glazziq.svg" >
              </div> 
            </div>                
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class=" col-md-6 col-sm-12">
              <div class="center-block">
                <img class="img-rounded img-responsive vcenter center-block" src="img/sellsuki.svg" >
              </div>
            </div>
            <div class=" col-md-6 col-sm-12">
              <div class="center-block">
                <img class="img-rounded img-responsive vcenter center-block" src="img/Playable.svg" >
              </div>
            </div> 
          </div>
        </div>
       
<!--        </div>-->

        <div class="row">
          <div class="col-md-12 col-sm-12">
          <div class="col-md-3"></div>
            <div class=" col-md-6 col-sm-12">
              <div class="center-block">
                <img class="img-rounded img-responsive vcenter center-block" src="img/Sprinter.svg" >
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>

<!--        <div class="well bronze-banner">-->
        <div class="row">
            <div class="col-md-12">
               <div class=" col-md-4 col-sm-12 col-xs-12">
                    <div class="col-xs-1 col-sm-1"></div>
                    <div class="col-md-12 col-xs-10 col-sm-10">
                      <img class="img-rounded img-responsive vcenter center-block" src="img/Taskworld.svg" >
                    </div>
                    <div class="col-xs-1 col-sm-1"></div>
               </div>
               <div class=" col-md-4 col-sm-12 col-xs-12">
                   <div class="col-xs-1 col-sm-1"></div>
                   <div class="col-md-12 col-xs-10 col-sm-10">
                    <img class="img-rounded img-responsive vcenter center-block" src="img/Blognone.svg" >
                   </div>
                   <div class="col-xs-1 col-sm-1"></div>
               </div>
               <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="col-xs-1 col-sm-1"></div>
                <div class="col-md-12 col-xs-10 col-sm-10">
                  <img class="img-rounded img-responsive vcenter center-block" src="img/Omise.svg" >
                </div>
               </div>
               <div class="col-xs-1 col-sm-1"></div>
            </div>
        </div>
  </div>
<!--        </div>-->
</div>
</section>
<script>
    $( document ).ready(function() {
        console.log("XXX " + $(this).width());
    var resizeFunction = function(){
        if ($(this).width() < 992) {
$('.padding').css("height" , "50%");
//
  $('.bigRow').css("margin-left","10px");
  $('.footSqr').css("height","50%");
  $('.footSqr').css("margin-top","5px");
//      $('.footSqr').css("margin-left","10px");
  $('.footSqr').css("margin-bottom","5px");
  $('.bigRow').css("margin-right","10px");
}else{
  $('.footSqr').css("margin-top","0px");

  $('.bigRow').css("margin-right","0px");

  $('.bigRow').css("margin-left","0px");
  $('.footSqr').css("margin-bottom","0px");
  $('.padding').css("height","75%");
  $('.footSqr').css("height","100%");
}
    }
    resizeFunction();
$(window).resize(resizeFunction);

});
</script>
