<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navText page-scroll" href="#main">
                <p class="nav-brand-text">bcbk</p>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#schedule">
                        <p class="nav-link-text">Schedule</p>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#location">
                        <p class="nav-link-text">Location</p>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#sponsors">
                        <p class="nav-link-text">Sponsors</p>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#register">
                        <p class="nav-link-text">Register</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="whoscoming({reload:true})">
                        <p class="nav-link-text">Who's Coming</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="main" class="cover section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-sm-1 col-xs-1 col-md-2"></div>
                <div class="col-sm-10 col-xs-10 col-md-8 logo">
                    <img src="img/bcbk_logo2.svg">
                </div>
                <div class="col-sm-1 col-xs-1 col-md-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <a role="button" class="hover-fade white-btn page-scroll" href="#register">REGISTER</a>
            </div>
        </div>
    </div>
</section>
<section id="quick-info" class="quick-info-bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 quick-info">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <i class="fa fa-clock-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 info">
                        <p>22 November 2015</br>
                            9:00 AM - 5:00 PM</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 quick-info">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <i class="fa fa-map-marker fa-5x"></i>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 info">
                        <p>IUP International Building 17</br>
                            Kasetsart University</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 quick-info">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2"></div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <i class="fa fa-twitter fa-5x"></i>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 info">
                        <p class="text bcbk">#bcbk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="whatIsBarcamp" class="quick-about section">
    <div class="container">
        <div id="what">
            <h1>WHAT IS BARCAMP?</h1>
            <!-- <p>BarCamp เป็นงานชุมนุมรวมกลุ่มสำหรับผู้ที่สนใจแบ่งปันความรู้ ประสบการณ์ หรือเรื่องราวต่างๆให้ผู้ร่วมงานคนอื่นๆ ได้ฟังกัน งานนี้ไม่มีการกำหนดหัวข้อเอาไว้ล่วงหน้า ผู้ร่วมงานทุกคนจะเป็นผู้กำหนดหัวข้อในงาน อีกทั้งยังสามารถที่จะเลือกได้ว่าตนเองอยากเป็นผู้พูด หรือผู้ฟัง</p> -->
            <p>BarCamp is a participant-generated conference primarily focused on exchanging knowledge, experience and
                stories. The participants will have a chance to come into contact with new ideas as well as propose some
                of their own.</p>
        </div>
        <div id="when">
            <h1>WHO IS PARTICIPATING?</h1>
            <!-- <p>คุณไงละ! งานของเราจะขาดคุณซึ่งเป็นผู้แบ่งปันเรื่องราวดีๆไปไม่ได้</p> -->
            <p>Anybody!</p>
        </div>
        <div id="why">
            <h1>WHY SHOULD WE GO TO BARCAMP?</h1>
            <!-- <p>เราไม่จำกัดหัวข้อในการพูด ถ้าคุณอยากพูด คุณสามารถเสนอหัวข้อที่ต้องการได้เลย แต่หากคุณอยากเป็นผู้ฟัง คุณมีสิทธิ์เลือกหัวข้อ หรือเรื่องราวที่คุณอยากฟังได้ หัวข้อในงานของเรามีความหลากหลายแตกต่างกันไป หัวข้อที่ถูกเลือกอาจจะเกี่ยวกับเทคโนโลยี, ทริปท่องเที่ยว, สอนธุรกิจ, รีวิวเกมส์, เอาตัวรอดในดินแดนซอมบี้ และอื่นๆอีกมากมาย</p> -->
            <p>Along with no entrance fee, the participants will be given the privilege to propose their ideas or topics
                they want to present once they have registered. Given enough votes from attendees who are interested,
                the staff will re-schedule a session for a speaker, where they can speak up or exchange ideas about the
                topic with the listeners. Casual attendees are also free to join any sessions they want.</p>
        </div>
    </div>
</section>

<section id="schedule" class="schedule section">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12 topic">
                <h1>SCHEDULE</h1>
            </div>
            <div class="col-lg-12 col-xs-12 date">
                <p>22 November 2015</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="time">
                    9.00 AM - 9.45 AM
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="activity-topic">Registration and Setting Up</div>
                <p class="activity-description">
                    Participants register at 1st floor. Write down the topics they want to talk about and vote on the
                    topic they want to listen to at 2nd floor
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="time">
                    9.45 AM - 10.30 AM
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="activity-topic">Opening Ceremony</div>
                <p class="activity-description">
                    Everybody will gather in the assembly hall (Room 17202, 2nd floor) to have a little introductory
                    session
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="time">
                    10.40 AM - 12.05 PM
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="activity-topic">Morning Sessions</div>
                <p class="session-time">
                    10.40 - 11.05 | 11.10 - 11.35 | 11.40 - 12.05
                </p>

                <p class="activity-description">
                    Sessions take place at room 17202 (2nd floor), 17301 17302 17303 (3rd floor) and 17401 17402 17403 (4th
                    floor)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="time">
                    12.10 PM - 1.00 PM
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="activity-topic">Lunch</div>
                <p class="activity-description">
                    Let’s have FREE lunch! You know an army marches on its stomach
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="time">
                    1.00 PM - 2.55 PM
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="activity-topic">Afternoon Sessions</div>
                <p class="session-time">
                    1.00 - 1.25 | 1.30 - 1.55 | 2.00 - 2.25 | 2.30 - 2.55
                </p>

                <p class="activity-description">
                    Sessions take place at room 17202 (2nd floor), 17301 17302 17303 (3rd floor) and 17401 17402 17403 (4th
                    floor)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="time">
                    3.00 PM - 3.20 PM
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="activity-topic">Break</div>
                <p class="activity-description">
                    Dessert time!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="time">
                    3.20 PM - 4.45 PM
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="activity-topic">Back to Afternoon Sessions</div>
                <p class="session-time">
                    3.20 - 3.45 | 3.50 - 4.15 | 4.20 - 4.45
                </p>

                <p class="activity-description">
                   Sessions take place at room 17202 (2nd floor), 17301 17302 17303 (3rd floor) and 17401 17402 17403 (4th
                    floor)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="time">
                    5.00 PM - 8.00 PM
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="activity-topic">After Party</div>
                <p class="activity-description">
                    A party at the end voluntarily arranged by the staff to loosen up after a long day and have some
                    fun!
                </p>
            </div>
        </div>
    </div>
</section>

<section id="location" class="location section">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12 topic">
                <h1>LOCATION</h1>
            </div>
            <div class="col-lg-12 col-xs-12 place">
                <p>IUP International Building 17</p>

                <p>Kasetsart University</p>
            </div>
        </div>
    </div>
</section>

<section id="map" class="map section">
</section>

<section id="parking-and-transport" class="parking-and-transport section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 content">
                <h2>PAID PARKING</h2>

                <div class="sub-topic">
                    <h3>(A) Ngam Wong Wan 1 Parking Building</h3>
                    <ul>
                        <li class="free">Price with bcbk stamp: FREE</li>
                        <li>Price without bcbk stamp: 10THB/hr</li>
                        <li>Location: Ngam Wong Wan 1 entrance</li>
                        <li>Capacity: 210</li>
                    </ul>
                </div>

                <div class="sub-topic">
                    <h3>(B) Ngam Wong Wan 2 Parking Building</h3>
                    <ul>
                        <li class="free">Price with bcbk stamp: FREE</li>
                        <li>Price without bcbk stamp: 10THB/hr</li>
                        <li>Location: Ngam Wong Wan 2 entrance</li>
                        <li>Capacity: 192</li>
                    </ul>
                </div>

                <p class="instruction">For the above locations please collect a parking stamp at the event to be
                    eligible for FREE parking from the entire period of 8.00 AM - 9.00 PM</p>

                <div class="sub-topic">
                    <h3>(C) Vibhavadi Parking Building</h3>
                    <ul>
                        <li>Price: 10THB/hr</li>
                        <li>Location: Vibhavadi entrance</li>
                        <li>Capacity: 245</li>
                    </ul>
                </div>

                <div class="sub-topic">
                    <h3>(D) Bangkhen Parking Building</h3>
                    <ul>
                        <li>Price: 10THB/hr</li>
                        <li>Location: Behind KU Golden Jubilee building</li>
                        <li>Capacity: 300</li>
                    </ul>
                </div>

            </div>

            <div class="col-lg-6 content">
                <h2>FREE PARKING</h2>

                <div class="sub-topic">
                    <h3>(E) LH1 Parking</h3>
                    <ul>
                        <li>Location: Lecture Hall 1 (LH1)</li>
                        <li>Capacity: 30</li>
                    </ul>
                </div>

                <div class="sub-topic">
                    <h3>(F) Basketball Field Parking</h3>
                    <ul>
                        <li>Location: Opposite of Computer Engineering Building</li>
                        <li>Capacity: 40</li>
                    </ul>
                </div>

                <div class="sub-topic">
                    <h3>(G) Jakbandhu Building Parking</h3>
                    <ul>
                        <li>Location: Behind Jakbandhu building</li>
                        <li>Capacity: 150</li>
                    </ul>
                </div>


                <p class="instruction">Illegal or double parking may result in wheel clamp and 500 THB fine imposed.</p>
            </div>

            <div class="col-lg-6 content">
                <h2>TRANSPORTATION</h2>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="sub-topic">
                            <h3>Bus</h3>

                            <p>24 26 29 39 51 52 59 63 104 107 114 126 129 177 185 186 522 524 528
                                545</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="sub-topic">
                            <h3>Van</h3>

                            <p>14 40 62 79</p>

                            <h3>KU Shuttle Bus</h3>

                            <p>1 2 4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sponsors" class="sponsor section">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12 text-center topic">
                <h1>SPONSORS</h1>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 col-sm-12 computer-eng-logo">
                <img class="center-block img-responsive" src="img/ComputerEngineering-reducesize.png">

                <h2 class="computer-eng">ENGINEERING</h2>

                <h3 class="computer-eng">Department of Computer Engineering</h3>
            </div>
        </div>

        <div class="row">
            <div class=" col-md-6 col-sm-6 col-xs-12">
                <div class="center-block sponsor-logo platinum">
                    <a href="http://www.wongnai.com/" target="_blank">
                        <img class="center-block img-responsive" src="img/wongnai.svg">
                    </a>
                </div>
            </div>
            <div class=" col-md-6 col-sm-6 col-xs-12">
                <div class="center-block sponsor-logo platinum">
                    <a href="https://www.glazziq.com/" target="_blank">
                        <img class="center-block img-responsive" src="img/Glazziq.svg">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class=" col-md-6 col-sm-6 col-xs-12">
                <div class="center-block sponsor-logo platinum">
                    <a href="https://www.sellsuki.com/" target="_blank">
                        <img class="center-block img-responsive" src="img/sellsuki.svg">
                    </a>
                </div>
            </div>
            <div class=" col-md-6 col-sm-6 col-xs-12">
                <div class="center-block sponsor-logo platinum">
                    <a href="http://www.playable.co.th/" target="_blank">
                        <img class="center-block img-responsive" src="img/Playable.svg">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-0"></div>
            <div class=" col-md-6 col-sm-6 col-xs-12">
                <div class="center-block sponsor-logo platinum">
                    <a href="https://www.facebook.com/SPRINT3RGroup/" target="_blank">
                        <img class="center-block img-responsive" src="img/Sprinter.svg">
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-0"></div>
        </div>
        <div class="row">
            <div class=" col-md-4 col-sm-4 col-xs-12 gold">
                <div class="col-xs-2"></div>
                <div class="col-md-12 col-xs-8 col-sm-12 sponsor-logo">
                    <a href="https://www.taskworld.com/" target="_blank">
                        <img class="center-block img-responsive" src="img/Taskworld.svg">
                    </a>
                </div>
                <div class="col-xs-2"></div>
            </div>
            <div class=" col-md-4 col-sm-4 col-xs-12 gold">
                <div class="col-xs-2"></div>
                <div class="col-md-12 col-xs-8 col-sm-12 sponsor-logo">
                    <a href="https://www.blognone.com/" target="_blank">
                        <img class="center-block img-responsive" src="img/Blognone.svg">
                    </a>
                </div>
                <div class="col-xs-2"></div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 gold">
                <div class="col-xs-2"></div>
                <div class="col-md-12 col-xs-8 col-sm-12 sponsor-logo">
                    <a href="https://www.omise.co/" target="_blank">
                        <img class="center-block img-responsive" src="img/Omise.svg">
                    </a>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>
</section>

<section id="register" class="register section" ng-include src="'templates/register.html'"></section>

<section id="footer" class="footer" ng-include src="'templates/footer.html'"></section>
<script>
    $(document).ready(function () {
        var resizeFunction = function () {}
        resizeFunction();
        $(window).resize(resizeFunction);
        var G = google.maps;
        var center = new G.LatLng(13.846458, 100.5695385)
        mapOptions = {
            scrollwheel: false,
            zoom: 15,
            center: center,
            mapTypeId: G.MapTypeId.ROADMAP
        }
        var map = new G.Map(document.getElementById("map"), mapOptions)
        var marker = new G.Marker({
            position: center,
            map: map,
            title: 'IUP International Building 17'
        })

        var Basketball = new G.Marker({
            position: new G.LatLng(13.846062, 100.567658),
            map: map,
            label: 'F',
            title: 'Basketball Field Parking'
        })

        var ngam1 = new G.Marker({
            position: new G.LatLng(13.842940, 100.570658),
            map: map,
            label: 'A',
            title: 'Ngam Wong Wan 1'
        })

        var ngam2 = new G.Marker({
            position: new G.LatLng(13.843564, 100.569517),
            map: map,
            label: 'B',
            title: 'Ngam Wong Wan 2'
        })

        var lh1 = new G.Marker({
            position: new G.LatLng(13.846803, 100.570714),
            map: map,
            label: 'E',
            title: 'Lecture Hall 1'
        })

        var jb = new G.Marker({
            position: new G.LatLng(13.849192, 100.567605),
            map: map,
            label: 'G',
            title: ''
        })

        var vipa = new G.Marker({
            position: new G.LatLng(13.851802, 100.564459),
            map: map,
            label: 'C',
            title: ''
        })

        var bk = new G.Marker({
            position: new G.LatLng(13.854023, 100.570661),
            map: map,
            label: 'D',
            title: ''
        })

    });
</script>
