<div class="container">
    <div class="row">
        <div class="col-lg-6 content">
            <h2>PAID PARKING</h2>

            <div class="sub-topic">
                <h3>(A) Ngam Wong Wan 1 Parking Building</h3>
                <p class="th">อาคารจอดรถงามวงศ์วาน 1</p>
                <ul>
                    <li class="free">Price with bcbk stamp: FREE</li>
                    <li>Price without bcbk stamp: 10THB/hr</li>
                    <li>Location: Ngam Wong Wan 1 entrance</li>
                    <li>Capacity: 210</li>
                </ul>
            </div>

            <div class="sub-topic">
                <h3>(B) Ngam Wong Wan 2 Parking Building</h3>
                <p class="th">อาคารจอดรถงามวงศ์วาน 2</p>
                <ul>
                    <li class="free">Price with bcbk stamp: FREE</li>
                    <li>Price without bcbk stamp: 10THB/hr</li>
                    <li>Location: Ngam Wong Wan 2 entrance</li>
                    <li>Capacity: 192</li>
                </ul>
            </div>

            <p class="instruction">For the above locations please collect a parking stamp at the event to be
                eligible for FREE parking from the entire period of 8.00 AM - 9.00 PM</p>

            <div class="sub-topic">
                <h3>(C) Vibhavadi Parking Building</h3>
                <p class="th">อาคารจอดรถวิภาวดี</p>
                <ul>
                    <li>Price: 10THB/hr</li>
                    <li>Location: Vibhavadi entrance</li>
                    <li>Capacity: 245</li>
                </ul>
            </div>

            <div class="sub-topic">
                <h3>(D) Bangkhen Parking Building</h3>
                <p class="th">อาคารจอดรถบางเขน</p>
                <ul>
                    <li>Price: 10THB/hr</li>
                    <li>Location: Behind KU Golden Jubilee building</li>
                    <li>Capacity: 300</li>
                </ul>
            </div>

        </div>

        <div class="col-lg-6 content">
            <h2>FREE PARKING</h2>

            <div class="sub-topic">
                <h3>(E) LH1 Parking</h3>
                <p class="th">ลานจอดรถ ศร.1</p>
                <ul>
                    <li>Location: Lecture Hall 1 (LH1)</li>
                    <li>Capacity: 30</li>
                </ul>
            </div>

            <div class="sub-topic">
                <h3>(F) Basketball Field Parking</h3>
                <p class="th">ลานจอดรถข้างสนามบาส</p>
                <ul>
                    <li>Location: Opposite of Computer Engineering Building</li>
                    <li>Capacity: 40</li>
                </ul>
            </div>

            <div class="sub-topic">
                <h3>(G) Jakbandhu Building Parking</h3>
                <p class="th">ลานจอดรถหลังอาคารจักรพันธ์เพ็ญศิริ</p>
                <ul>
                    <li>Location: Behind Jakbandhu building</li>
                    <li>Capacity: 150</li>
                </ul>
            </div>


            <p class="instruction">Illegal or double parking may result in wheel clamp and 500 THB fine imposed.</p>
        </div>

        <div class="col-lg-6 content">
            <h2>TRANSPORTATION</h2>

            <div class="row">
                <div class="col-lg-6">
                    <div class="sub-topic">
                        <h3>Bus</h3>

                        <p>24 26 29 39 51 52 59 63 104 107 114 126 129 177 185 186 522 524 528
                            545</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="sub-topic">
                        <h3>Van</h3>

                        <p>14 40 62 79</p>

                        <h3>KU Shuttle Bus</h3>

                        <p>1 2 4</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
