<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 quick-info">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <i class="fa fa-clock-o fa-5x"></i>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 info">
                    <p>22 November 2015</br>
                        9:00 AM - 5:00 PM</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 quick-info">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <i class="fa fa-map-marker fa-5x"></i>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 info">
                    <p>IUP International Building 17</br>
                        Kasetsart University</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 quick-info">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2"></div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <i class="fa fa-twitter fa-5x"></i>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 info">
                    <p class="text bcbk">#bcbk</p>
                </div>
            </div>
        </div>
    </div>
</div>
