<div class="container">
    <div id="what">
        <h1>WHAT IS BARCAMP?</h1>
        <!-- <p>BarCamp เป็นงานชุมนุมรวมกลุ่มสำหรับผู้ที่สนใจแบ่งปันความรู้ ประสบการณ์ หรือเรื่องราวต่างๆให้ผู้ร่วมงานคนอื่นๆ ได้ฟังกัน งานนี้ไม่มีการกำหนดหัวข้อเอาไว้ล่วงหน้า ผู้ร่วมงานทุกคนจะเป็นผู้กำหนดหัวข้อในงาน อีกทั้งยังสามารถที่จะเลือกได้ว่าตนเองอยากเป็นผู้พูด หรือผู้ฟัง</p> -->
        <p>BarCamp is a participant-generated conference primarily focused on exchanging knowledge, experience and stories. The participants will have a chance to come into contact with new ideas as well as propose some of their own.</p>
        <p>บาร์แคมป์เป็นงานชุมนุมรวมกลุ่มสำหรับผู้ที่สนใจแบ่งปันความรู้ ประสบการณ์ หรือเรื่องราวต่างๆให้ผู้ร่วมงานคนอื่นๆ ได้ฟังกัน งานนี้ไม่มีการกำหนดหัวข้อเอาไว้ล่วงหน้า ผู้ร่วมงานทุกคนจะเป็นผู้กำหนดหัวข้อในงาน</p>
    </div>
    <div id="when">
        <h1>WHO IS PARTICIPATING?</h1>
        <!-- <p>คุณไงละ! งานของเราจะขาดคุณซึ่งเป็นผู้แบ่งปันเรื่องราวดีๆไปไม่ได้</p> -->
        <p>Anybody!</p>
        <p>คุณไงละ! งานของเราจะขาดคุณซึ่งเป็นผู้แบ่งปันเรื่องราวดีๆไปไม่ได้</p>
    </div>
    <div id="why">
        <h1>WHY SHOULD WE GO TO BARCAMP?</h1>
        <!-- <p>เราไม่จำกัดหัวข้อในการพูด ถ้าคุณอยากพูด คุณสามารถเสนอหัวข้อที่ต้องการได้เลย แต่หากคุณอยากเป็นผู้ฟัง คุณมีสิทธิ์เลือกหัวข้อ หรือเรื่องราวที่คุณอยากฟังได้ หัวข้อในงานของเรามีความหลากหลายแตกต่างกันไป หัวข้อที่ถูกเลือกอาจจะเกี่ยวกับเทคโนโลยี, ทริปท่องเที่ยว, สอนธุรกิจ, รีวิวเกมส์, เอาตัวรอดในดินแดนซอมบี้ และอื่นๆอีกมากมาย</p> -->
        <p>Along with no entrance fee, the participants will be given the privilege to propose their ideas they want to talk about once they have registered. Given enough votes from people who are interested, the staff will re-schedule a session where anybody is welcome to join to exchange ideas about the topic.</p>
        <p>เราไม่จำกัดหัวข้อในนำเสนอ ถ้าคุณมีเรื่องราวที่สนใจอยากพูดคุย คุณสามารถเสนอหัวข้อที่ต้องการได้เลย แต่หากคุณยังคิดไม่ออก คุณก็สามารถเลือกหัวข้อที่คนอื่นเสนอ และเข้าไปร่วมพูดคุยได้ หัวข้อในงานของเรามีความหลากหลายแตกต่างกันไป หัวข้อที่ถูกเลือกอาจจะเกี่ยวกับเทคโนโลยี ทริปท่องเที่ยว สอนธุรกิจ รีวิวเกมส์ เอาตัวรอดในดินแดนซอมบี้ และอื่นๆอีกมากมาย</p>
    </div>
</div>