<div ng-controller="RegisterController as regCtrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12 text-center topic">
                <h1>REGISTER</h1>
            </div>
        </div>
    </div>

    <div id="register-form" class="container register-form">
        <form data-toggle="validator" role="form" ng-submit="regCtrl.submitRegistration()">
            <div class="row">
                <div name="emailform" class="form-group">
                    <div class="form-row col-sm-12">
                        <div class="col-sm-6">
                            <label>Email*</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" ng-model="email" name="email"
                                   data-error="Bruh, that email address is invalid" required>

                            <div name="emailformMessage" class="help-block with-errors"></div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="form-row col-sm-12">
                        <div class="col-sm-6">
                            <label>First Name*</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="firstname" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row col-sm-12">
                        <div class="col-sm-6">
                            <label>Last Name*</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="lastname" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row col-sm-12">
                        <div class="col-sm-6">
                            <label>Gender</label>
                        </div>
                        <div class="col-sm-6">
                            <select ng-model="gender" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row col-sm-12">
                        <div class="col-sm-6">
                            <label>Profession</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="profession">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row col-sm-12">
                        <div class="col-sm-6">
                            <label>Workplace</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="workplace">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row col-sm-12">
                            <div class="col-sm-6">
                                <label>Twitter</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">@</div>
                                    <input type="text" pattern="^[_A-z0-9]{1,}$" maxlength="15"
                                           class="form-control" ng-model="twitter" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row col-sm-12">
                            <div class="col-sm-6">
                                <label>Website</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="website">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row col-sm-12">
                            <div class="col-sm-6 ">
                                <label>Food Requirements</label>
                            </div>
                            <div class="col-sm-6">
                                <select ng-model="foodRequirement" class="form-control">
                                    <option value="None">None</option>
                                    <option value="Islam">Islam (อิสลาม)</option>
                                    <option value="Vegeterian">Vegeterian (มังสวิรัติ)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row col-sm-12">
                            <div class="col-sm-6">
                                <label>Food Allergy</label>
                                <p>(อาหารที่แพ้)</p>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="allergy">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center interest">
                    <div class="col-lg-12 col-xs-12 text-center topic">
                        <h1>Interests</h1>
                    </div>
                    <div class="col-sm-12">
                        <p>Seperated by ","</p>
                        <!-- <input id="interest" class="form-control" placeholder="Angular, JavaScript, UX/UI, Food, Startup, ...." required> -->
                        <ui-select ng-model="regCtrl.interest.selected" tagging tagging-tokens="ENTER|SPACE|,|TAB"
                                   multiple>
                            <ui-select-match placeholder="Angular, JavaScript, UX/UI, Food, Startup, ....">{{$item}}</ui-select-match>
                            <ui-select-choices style="display: none;"
                                               repeat="tmp in regCtrl.tmps | filter:$select.search">
                                {{tmp}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="form-group button-wrap">
                        <button id="register-btn"
                                ng-disabled="!regCtrl.allowRegister || (regCtrl.interest.selected.length == 0)"
                                type="submit" class="dark-btn hvr-fade">REGISTER
                        </button>
                        <div id="loading">
                            <div class="spinner"></div>
                            Registering...
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="success-registration" class="container text-center success-registration">
        <div class="row">
            <div style="font-size: 30px;">
                <i class="fa fa-check fa-5x"></i>
            </div>
        </div>
        <div class="row">
            <h2>Registration Successful</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Thank you for registering your interest in BarCamp Bangkhen 6.</p>

                <p>Please check your email address that you receive the code for registration at the event.</p>

                <p>If you miss an email, please contact info@barcampbangkhen.org.</p>
            </div>
        </div>
        <div class="row">
            <button class="dark-btn hvr-fade" role="button"
                    ng-click="backToRegister()">BACK
            </button>
        </div>
    </div>
</div>
