<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navText page-scroll" ui-sref="home">
                <p class="nav-brand-text">bcbk</p>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->

                <li>
                    <a class="page-scroll" ui-sref="home({section: 'schedule'})">
                        <p class="nav-link-text">Schedule</p>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" ui-sref="home({section: 'location'})">
                        <p class="nav-link-text">Location</p>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" ui-sref="home({section: 'sponsors'})">
                        <p class="nav-link-text">Sponsors</p>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" ui-sref="home({section: 'register'})">
                        <p class="nav-link-text">Register</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="resendmail">
                        <p class="nav-link-text">Resend Email</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="whoscoming({reload:true})">
                        <p class="nav-link-text">Who's Coming</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="sub-page-cover section">

    <div class="container topic">
        <div class="row">
            <div class="col-lg-12 col-xs-12 text-center topic">
                <h1>RESEND EMAIL</h1>
            </div>
        </div>
    </div>

</section>

<section class="sub-page-content register">
    <div id="resend-form" class="container register-form">
        <form name="resend" novalidate ng-submit="resendCtrl.resend()">
            <div class="row basic-info">
                <div name="emailform" class="form-group">
                    <div class="form-row col-sm-12">
                        <div class="col-sm-6">
                            <label>Email <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
                        </div>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" ng-model="resendCtrl.email" name="email" ng-class="{'with-error':resend.email.$invalid && resend.email.$dirty, 'with-success':resend.email.$valid && resend.email.$dirty}" ng-pattern = "/^[_A-Za-z0-9]+(\.[_A-Za-z0-9]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,5})$/" required>
                            <span ng-show="resend.email.$dirty && resend.email.$invalid">
                                <div class="help-block with-error-txt" ng-show="resend.email.$error.required">
                                    Please enter your email address.
                                </div>
                                <div class="help-block with-error-txt"
                                     ng-show="resend.email.$error.email || resend.email.$error.pattern">
                                    Email address is invalid format.
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div name="emailform" class="form-group">
                    <div class="form-row col-sm-12 text-center">
                        <div vc-recaptcha class="g-recaptcha" theme="'light'" key="resendCtrl.model.key" on-create="resendCtrl.setWidgetId(widgetId)" on-success="resendCtrl.setResponse(response)" on-expire="resendCtrl.cbExpiration()">
                        </div>
                        <input type="hidden" name="response" ng-model="resendCtrl.response" required>
                        <span ng-show="resend.response.$dirty && resend.response.$invalid">
                            <div class="help-block with-error-txt" ng-show="resend.response.$error.required">
                                Please confirm you are human.
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="form-group button-wrap">
                    <button id="resend-btn" type="submit" class="dark-btn hvr-fade">RESEND</button>
                    <div id="loading">
                        <div class="spinner"></div>
                        Sending...
                    </div>
                </div>
                <span ng-show="resendCtrl.submit.isSubmit">
                    <div class="help-block with-error-txt" ng-show="resendCtrl.submit.status === 403">
                        This email does not exist (<b>{{resendCtrl.email}}</b>). Please create your new accout.
                    </div>
                    <div class="help-block with-error-txt" ng-show="resendCtrl.submit.status === 405">
                        Cannot send email to <b>{{resendCtrl.email}}</b>. Please contact info@barcampbangkhen.org.
                    </div>
                </span>
            </div>
        </form>
    </div>

    <div id="success-resend" class="container text-center success-registration">
        <div class="row">
            <div style="font-size: 30px;">
                <i class="fa fa-check fa-5x"></i>
            </div>
        </div>
        <div class="row">
            <h2>Resend Successfully</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Your registration email is successfully resent!</p>
                <br />
                <p>Please check your email. (If you miss email, check spam or trash box)</p>
            </div>
        </div>
        <div class="row">
            <a ui-sref="home">
                <button class="dark-btn hvr-fade" role="button">HOME
                </button>
            </a>
            <a ui-sref="whoscoming">
                <button class="dark-btn hvr-fade" role="button">
                    WHO'S COMING
                </button>
            </a>
        </div>
    </div>
</section>

<section id="footer" class="footer" ng-include src="'templates/footer.html'"></section>
<script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>