<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xs-12 topic">
            <h1>SCHEDULE</h1>
        </div>
        <div class="col-lg-12 col-xs-12 date">
            <p>22 November 2015</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="time">
                9.00 AM - 9.45 AM
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="activity-topic">Registration and Setting Up</div>
            <p class="activity-description">
                Participants register and get some BarCamp stuffs including BARCAMP SHIRT! Then move to 2nd floor. Bring
                up your session on the vote board or vote any sessions you want to join.
            </p>

            <p class="activity-note">
                <br>
                Participants can make votes anytime before the last session is picked out.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="time">
                9.45 AM - 10.30 AM
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="activity-topic">Opening Ceremony</div>
            <p class="activity-description">
                Everybody will gather in the assembly hall (Room 17201, 2nd floor) to have a little introductory
                session.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="time">
                10.40 AM - 12.05 PM
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="activity-topic">Morning Sessions</div>
            <p class="session-time">
                10.40 - 11.05 | 11.10 - 11.35 | 11.40 - 12.05
            </p>

            <p class="activity-description">
                Morning sessions are picked out and announced on the website and the schedule board on 2nd floor. Join
                any sessions as you wish.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="time">
                12.10 PM - 1.00 PM
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="activity-topic">Lunch</div>
            <p class="activity-description">
                Let’s have FREE lunch! You know an army marches on its stomach.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="time">
                1.00 PM - 2.55 PM
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="activity-topic">Afternoon Sessions</div>
            <p class="session-time">
                1.00 - 1.25 | 1.30 - 1.55 | 2.00 - 2.25 | 2.30 - 2.55
            </p>

            <p class="activity-description">
                Afternoon sessions are picked out and announced on the website and the schedule board on 2nd floor. Join
                any sessions as you wish.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="time">
                3.00 PM - 3.20 PM
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="activity-topic">Break</div>
            <p class="activity-description">
                Dessert time!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="time">
                3.20 PM - 4.45 PM
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="activity-topic">Back to Afternoon Sessions</div>
            <p class="session-time">
                3.20 - 3.45 | 3.50 - 4.15 | 4.20 - 4.45
            </p>

            <p class="activity-description">
                More afternoon sessions are picked out. Check it on the website or the schedule board on 2nd floor. Join
                any sessions as you wish.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="time">
                5.00 PM - 8.00 PM
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="activity-topic">After Party</div>
            <p class="activity-description">
                A party at the end voluntarily arranged by the staff to loosen up after a long day and have some
                fun!
            </p>
        </div>
    </div>
</div>
