<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xs-12 text-center topic">
            <h1>SPONSORS</h1>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-md-12 col-sm-12 computer-eng-logo">
            <img class="center-block img-responsive" src="img/ComputerEngineering-reducesize.png">

            <h2 class="computer-eng">ENGINEERING</h2>

            <h3 class="computer-eng">Department of Computer Engineering</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-block sponsor-logo platinum">
                <a href="http://www.wongnai.com/" target="_blank">
                    <img class="center-block img-responsive" src="img/wongnai.svg">
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-block sponsor-logo platinum">
                <a href="https://www.glazziq.com/" target="_blank">
                    <img class="center-block img-responsive" src="img/Glazziq.svg">
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-block sponsor-logo platinum">
                <a href="http://www.sellsuki.com/" target="_blank">
                    <img class="center-block img-responsive" src="img/sellsuki.svg">
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-block sponsor-logo platinum">
                <a href="http://www.playable.co.th/" target="_blank">
                    <img class="center-block img-responsive" src="img/Playable.svg">
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="center-block sponsor-logo platinum">
                <a href="https://www.facebook.com/SPRINT3RGroup/" target="_blank">
                    <img class="center-block img-responsive" src="img/Sprinter.svg">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 gold">
            <div class="col-md-12 col-sm-12 col-sm-offset-0 col-xs-8 col-xs-offset-2 sponsor-logo">
                <a href="https://www.taskworld.com/" target="_blank">
                    <img class="center-block img-responsive" src="img/Taskworld.svg">
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12 gold">
            <div class="col-sm-12 col-sm-offset-0 col-xs-8 col-xs-offset-2 sponsor-logo">
                <a href="https://www.blognone.com/" target="_blank">
                    <img class="center-block img-responsive" src="img/Blognone.svg">
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12 gold">
            <div class="col-sm-12 col-sm-offset-0 col-xs-8 col-xs-offset-2 sponsor-logo">
                <a href="https://www.omise.co/" target="_blank">
                    <img class="center-block img-responsive" src="img/Omise.svg">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3 col-xs-12 silver">
            <div class="col-sm-12 col-sm-offset-0 col-xs-6 col-xs-offset-3 sponsor-logo">
                <a href="http://www.gdg.in.th" target="_blank">
                    <img class="center-block img-responsive" src="img/GDG.png">
                </a>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12 silver">
            <div class="col-sm-12 col-sm-offset-0 col-xs-6 col-xs-offset-3 sponsor-logo">
                <a href="http://blog.levelup.in.th" target="_blank">
                    <img class="center-block img-responsive" src="img/Lvup.svg">
                </a>
            </div>
        </div>
    </div>
</div>
