<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">

<section class="sub-page-cover section">

    <div class="container topic">
        <div class="row">
            <div class="col-lg-12 col-xs-12 text-center topic">
                <h1>WHO'S COMING</h1>
            </div>
        </div>
    </div>

</section>

<section class="who-is-coming section">
    <div class="content">
        <div class="filter">
            <ui-select ng-model="filter.selected" multiple>
                <ui-select-match placeholder="Filter by interest">{{$item}}</ui-select-match>
                <ui-select-choices repeat="interest in interests | filter:$select.search">{{interest}}
                </ui-select-choices>
            </ui-select>
        </div>
        <table class="who">
            <thead>
            <tr>
                <th style="width: 50px;" class="index"></th>
                <th>Name</th>
                <th style="width: 125px;">Twitter</th>
                <th>Interest</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in find(people, filter.selected)">
                <td class="index">{{$index+1}}.</td>
                <td>
                    <div ng-if="!person.website">
                        <div ng-bind="person.name"></div>
                        <small ng-if="person.profession || person.workplace">
                            {{person.profession}}<span ng-if="person.profession && person.workplace">, </span>{{person.workplace}}
                        </small>
                    </div>
                    <div ng-if="person.website">
                        <div>
                            <a ng-href="http://{{person.website}}" ng-bind="person.name"></a>
                        </div>
                        <small ng-if="person.profession || person.workplace">
                            {{person.profession}}<span ng-if="person.profession && person.workplace">, </span>{{person.workplace}}
                        </small>
                    </div>
                </td>
                <td>
                    <div ng-if="person.twitter">
                        @<a href="https://twitter.com/{{person.twitter}}" ng-bind="person.twitter"></a>
                    </div>
                </td>
                <td style="width: 50%">
          <span ng-repeat="interest in person.interests">
            <span ng-bind="interest"></span><span ng-repeat-end ng-if="!$last">, </span>
          </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</section>