html {
    background-color: #e8e8e8;
}

.box-content {
    min-height: 100vh;
}

.regisHead {
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-top: -20px;

}

.regisHead h1 {
    color: #e8e8e8;
    font-family: url("../fonts/glyphicons-halflings-regular.ttf");
    text-align: center;
    padding-top: 140px;
    font-size: 40px;
    font-stretch: extra-expanded;
    font-weight: bold;
}

.regisContent {
    background-color: #e8e8e8;
    padding-top: 25px;
    padding-bottom: 25px;
}

.regisContent label {
    color: #3d3536;
    font-size: 16px;
}

.regisContent input, .input-group-addon, .input-group {
    /*
    border-color: white;
    */

}

.regisContent[name="shirt-size"] {
    display: "m";
}

.row .col-sm-4 {
    margin-bottom: 10px;
}

.col-sm-4 label {
    margin-top: 6px;
}

.regisFooter h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #3d3536;
}

.regisFooter .button-wrap {
    text-align: center;
    margin-top: 25px;
}

.regisFooter .text-wrap {
    text-align: center;
}

.regisFooter .regis-btn {
    background-color: #99A37A;
    width: 20%;
    min-width: 120px;
    height: 40px;
    color: #e8e8e8;
    font-size: 20px;
    font-weight: lighter;
    border: none;
}

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #6b7354;
    color: white;
}

.btn-back.hvr-fade:hover, .btn-back.hvr-fade:focus, .btn-back.hvr-fade:active {
    background-color: #d2d9c2;
    color: black;
}
