@font-face {
    font-family: myFont;
    src: url(../fonts/tivanon.woff);
}

div {
    font-family: 'Open Sans';
}

body {
    width: 100%;
    background: fixed url("../img/main-bg.jpg");
    background-size: cover;
}

h1 {
    font-weight: 700;
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    padding: 0;
}

.container {
    max-width: 900px;
}

.section {
    padding: 5% 0 5%;
}

.cover {
    text-align: center;
}

.cover .row {
    margin-bottom: 5%;
}

.cover .logo .img {
    padding: 0;
    margin: 0;
}

.cover .white-btn {
    height: 100%;
    width: 100%;
    max-width: 70%;
    padding: 0.1em 0.5em;

    background-color: transparent;
    color: #e8e8e8;
    font-size: 2.4em;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #e8e8e8;
}

.cover .white-btn:hover {
    color: #141111;
    background-color: #e8e8e8;
}

.quick-info-bar {
    background-color: rgba(181, 214, 170, 0.28);
}

.quick-info-bar .quick-info {
    height: 100%;
    color: #e8e8e8;
    font-size: 1.2em;
    background-color: transparent;
}

.quick-info-bar .quick-info .row {
    margin-bottom: 0;
    padding: 1.4em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quick-info .info {
    max-height: 50%;
    padding: 0;
}

.quick-info-bar .fa {
    color: #f0e6b1;
}

@media screen and (max-width: 299px) {
    .quick-info-bar {
        background-color: transparent;
    }

    .quick-info-bar .quick-info {
        width: 90%;
        margin: 1.5% 5%;
        padding: 0 10%;
        background-color: rgba(181, 214, 170, 0.28);
    }

    .quick-info-bar .fa {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .quick-info-bar {
        background-color: transparent;
    }

    .quick-info-bar .quick-info {
        width: 90%;
        margin: 1.5% 5%;
        padding: 0 10%;
        background-color: rgba(181, 214, 170, 0.28);
    }

    .quick-info-bar .fa {
        font-size: 4em;
    }
}

@media screen and (min-width: 800px) and (max-width: 992px) {
    .quick-info-bar {
        background-color: transparent;
    }

    .quick-info-bar .quick-info {
        width: 98%;
        margin: 0.5% 1%;
        padding: 0 30%;
        background-color: rgba(181, 214, 170, 0.28);
    }

    .quick-info-bar .fa {
        font-size: 4em;
    }
}

@media screen and (min-width: 992px) {
    .quick-info-bar .fa {
        font-size: 4em;
    }
}

.quick-about .container {
    margin-top: -20px;
    margin-bottom: -20px;
}

.quick-about {
    background-color: #e8e8e8;
}

.quick-about h1 {
    margin: 20px 0 20px;
}

.quick-about p {
    font-weight: 700;
    margin: 15px 0 30px;
}

.schedule {
    color: #e8e8e8;
    background-color: #3D3536;
}

.schedule .container {
    margin-bottom: -3%;
}

.schedule .topic {
    color: #e8e8e8;
}

.schedule .date {
    font-size: 20px;
    color: #f0e6b1;
}

.schedule .time {
    font-size: 15px;
    font-weight: 600;
    color: #99A37A;
    padding: 6% 0 1%;
}

.schedule .session-time {
    font-size: 15px;
    font-weight: 600;
    color: #99A37A;
    margin-bottom: 5px;
}

.schedule .row {
    margin-bottom: 3%;
}

.schedule .activity-topic {
    font-size: 1.75em;
    margin-bottom: 5px;
}

.schedule .activity-description {
    font-weight: 600;
    color: #70584B;
}

.location {
    /*background-color: transparent;*/
    background-color: rgba(181, 214, 170, 0.28)
}

.location .topic {
    color: #e8e8e8;
}

.location .place {
    font-size: 20px;
    color: #f0e6b1;
}

.map {
    height: 400px;
    background-color: #141111;
}

.parking-and-transport {
    color: #e8e8e8;
    /*background-color: #99A37A;*/
    background-color: rgba(181, 214, 170, 0.28)
}

.parking-and-transport h2 {
    font-size: 1.75em;
}

.parking-and-transport h3 {
    font-size: 1.25em;
    color: #f0e6b1;
}

.parking-and-transport .free-parking {
    margin-bottom: 20px;
}

.sponsor {
    color: #e8e8e8;
}

.sponsor img {
    max-height: 250px;
}

.sponsor .computer-eng {
    color: #f0e6b1;
}

.sponsor .computer-eng-logo {
    margin-top: 2%;
    margin-bottom: 4%;
}

.sponsor .sponsor-logo {
    margin-bottom: 4%;
    background-color: rgba(248, 248, 248, 1);
}

.sponsor .sponsor-logo:hover {
    background-color: rgba(248, 248, 248, 0.9);
}

.sponsor-logo img {
    margin: 0;
}

.register {
    /*background-color: #f4f1e2;*/
    background-color: #e8e8e8;
}

.social {
    background-color: #3d3536;
}