@font-face {
    font-family : myFont;
    src: url(../fonts/tivanon.woff);
}
div{
    font-family: 'Open Sans';
}
.main-section{
    width : 100%;
    background-size: cover;
    background-image: url("../img/main-bg.jpg");
    max-height: 100vh;
}

.container{
    max-width: 1200px;
}

.main-section .container{
    width:auto;
}
.main-section .bigRow{
    margin-left : 10px;
    margin-right : 10px;
    margin-top : 0px;
    margin-bottom : 0px;
}

.main-section .logo{
    max-height: 70%;
    padding-bottom: 2.5%;
}

.subFootSqrIcon{
}
.subFootSqrIcon, .main-section .padding .col-md-4{
    max-width: 50%;
}

.subFootSqr{
    max-height: 50%;
    padding-top: 10px;
    width:220px;
}
.footSqr .row{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    max-height: 50%;
    display: flex;
    align-items : center;
    justify-content: center;
/*    height: 100%;  */
}


.nav-brand-text{
    font-size: 1.3em;
    color : white;
    font-weight: bolder;
}

.nav-link-text{
    color : white;
}
.footSqr{
    height : 60%;
/*    width: 100%;*/
    background-color: rgba(153,163,122, 0.3)
}

.main .registerBtn:hover{
    color: #141111;
    background-color: #e8e8e8;
}

.main .fa{
    color: #f0e6b1;
/*    font-size: 4em;*/
}

@media screen and (max-width: 299px) {
    .main .fa {
        font-size: 2em;
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .main .fa {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 800px) {
    .main .fa {
        font-size: 4em;
    }
}

.col2{
/*    display: block;*/
}
.main .text{
    font-size: 1em;
    font-style: normal;
    font-weight: bolder;
    max-height: 50%;
    color : white;
}

.main .registerBtn{
    width:100%;
    max-width: 70%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top : 0.125em;
    padding-bottom: 0.125em;

    background-color : transparent;
    color : white;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    border : 2px solid white;
}
