@font-face {
    font-family: myFont;
    src: url(../fonts/tivanon.woff);
}

html {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    background-color: transparent;
}

div {
    font-family: 'Open Sans';
}

h1 {
    font-weight: 700;
    margin: 0;
}

h2 {
    font-weight: 700;
    margin: 0;
}

h3 {
    font-weight: normal;
}

p {
    margin: 0;
}

img {
    padding: 0;
}

.background {
    width: 100%;
    height: 100vh;
    right: 0;
    position: fixed;
    /*background: fixed url("../img/main-bg.jpg") center center no-repeat;*/
    /*-webkit-background-size: cover !important;*/
    /*-moz-background-size: cover !important;*/
    /*-o-background-size: cover !important;*/
    /*background-size: cover !important;*/
    z-index: -99999;
    overflow: hidden;
}

.background-image {
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto
}

.navbar .container p {
    color: #e8e8e8;
}

@media (min-width: 2px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
        background-color: transparent;
        border: 0px solid black;
    }

    .top-nav-collapse {
        /*        -webkit-filter: blur(3px);*/
        /*        filter: blur(3px);*/
        /*background-color: rgba(232, 225, 161, 0.6);*/
        background-color: rgba(20, 17, 17, 0.9);
    }
}

.navbar li:hover {
    background-color: rgba(232, 232, 232, 0.9);
}

.navbar li:hover p {
    color: rgba(20, 17, 17, 0.9);
}

.navbar .container .nav-brand-text {
    color: #f4f1e2;
}

.navbar .container .bold {
    font-weight: 700;
}

.container {
    max-width: 900px;
}

.section {
    padding: 60px 0 60px;
}

/*----------------------------------------------*/
/* MAIN PAGE
/*----------------------------------------------*/

.cover {
    text-align: center;
}

.cover .container {
    padding-top: 4%;
}

.cover .row {
    margin-bottom: 5%;
}

.cover .logo .img {
    padding: 0;
    margin: 0;
}

.white-btn {
    color: #e8e8e8;
    font-size: 2.4em;
    font-weight: 600;
    background-color: transparent;
    padding: 0.1em 0.5em;
    border: 2px solid #e8e8e8;
}

.white-btn:hover {
    color: #141111;
    background-color: #e8e8e8;
}

.cover .white-btn {
    height: 100%;
    width: 100%;
    max-width: 70%;
    text-decoration: none;
}

.quick-info-bar {
    background-color: rgba(181, 214, 170, 0.28);
}

.quick-info-bar .quick-info {
    height: 100%;
    color: #e8e8e8;
    font-weight: 600;
    font-size: 1.2em;
    background-color: transparent;
}

.quick-info-bar .quick-info .row {
    margin-bottom: 0;
    padding: 1.4em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quick-info .info {
    max-height: 50%;
    padding: 0;
}

.quick-info-bar .fa {
    color: #f0e6b1;
}

@media screen and (max-width: 299px) {
    .quick-info-bar {
        padding-bottom: 5%;
        background-color: transparent;
    }

    .quick-info-bar .quick-info {
        width: 90%;
        margin: 1.5% 5%;
        padding: 0 10%;
        background-color: rgba(181, 214, 170, 0.28);
    }

    .quick-info-bar .fa {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .quick-info-bar {
        padding-bottom: 5%;
        background-color: transparent;
    }

    .quick-info-bar .quick-info {
        width: 90%;
        margin: 0.4em 5%;
        padding: 0 10%;
        background-color: rgba(181, 214, 170, 0.28);
    }

    .quick-info-bar .fa {
        font-size: 4em;
    }
}

@media screen and (min-width: 800px) and (max-width: 992px) {
    .quick-info-bar {
        padding-bottom: 2%;
        background-color: transparent;
    }

    .quick-info-bar .quick-info {
        width: 98%;
        margin: 0.5% 1%;
        padding: 0 30%;
        background-color: rgba(181, 214, 170, 0.28);
    }

    .quick-info-bar .fa {
        font-size: 4em;
    }
}

@media screen and (min-width: 992px) {
    .quick-info-bar .fa {
        font-size: 4em;
    }
}

.quick-about .container {
    margin-top: -20px;
    margin-bottom: -20px;
}

.quick-about {
    /*background-color: #f4f1e2;*/
    background-color: #e8e8e8;
}

.quick-about h1 {
    font-weight: normal;
    margin: 20px 0 20px;
}

.quick-about p {
    font-weight: 700;
    margin: 15px 0 30px;
}

.schedule {
    color: #e8e8e8;
    background-color: #3D3536;
}

.schedule .container {
    margin-bottom: -3%;
}

.schedule .topic {
    color: #e8e8e8;
}

.schedule .date {
    font-size: 20px;
    color: #f0e6b1;
}

.schedule .time {
    font-size: 15px;
    font-weight: 600;
    color: #99A37A;
    padding: 6% 0 1%;
}

.schedule .session-time {
    font-size: 15px;
    font-weight: 600;
    color: #99A37A;
    margin-bottom: 5px;
}

.schedule .row {
    margin-bottom: 3%;
}

.schedule .activity-topic {
    font-size: 1.75em;
    margin-bottom: 5px;
}

.schedule .activity-description {
    font-weight: 600;
    color: #70584B;
}

.location {
    /*background-color: transparent;*/
    background-color: rgba(181, 214, 170, 0.28)
}

.location .topic {
    color: #e8e8e8;
}

.location .place {
    font-size: 20px;
    color: #f0e6b1;
}

.map {
    height: 400px;
    background-color: #141111;
}

@media screen and (max-width: 767px) {
    .map {
        height: 200px;
    }   
}

.parking-and-transport {
    color: #e8e8e8;
    /*background-color: #99A37A;*/
    background-color: rgba(181, 214, 170, 0.28)
}

.parking-and-transport .container {
    margin-bottom: -20px;
}

.parking-and-transport p {
    font-size: 14px;
}

.parking-and-transport h2 {
    font-size: 1.75em;
}

.parking-and-transport h3 {
    font-size: 1.25em;
    color: #f0e6b1;
}

.parking-and-transport .content {
    margin-bottom: 20px;
}

.parking-and-transport .free {
    font-weight: 700;
    color: #f39d6f;
}

.parking-and-transport .instruction {
    font-style: italic;
    color: #f4f1e2;
}

.sponsor {
    color: #e8e8e8;
}

.sponsor img {
    max-height: 250px;
}

.sponsor .computer-eng {
    color: #f0e6b1;
}

.sponsor .computer-eng-logo {
    margin-top: 2%;
    margin-bottom: 4%;
}

.sponsor .sponsor-logo {
    margin-bottom: 4%;
    background-color: rgba(248, 248, 248, 1);
}

.sponsor .sponsor-logo:hover {
    background-color: rgba(248, 248, 248, 0.9);
}

.sponsor-logo img {
    margin: 0;
}

.register {
    color: #3d3536;
    background-color: #f4f1e2;
    /*background-color: #e8e8e8;*/
}

.register .topic {
    margin-bottom: 15px;
}

.register .container {
    margin-bottom: -15px;
}

.register .register-form {
    max-width: 600px;
}

.register .row {
    margin: 0 0 15px;
}

.register .basic-info .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

.register .form-group {
    margin-bottom: 0;
}

.register .col-sm-12 {
    margin-bottom: 15px;
}

.register label {
    font-size: 1.1em;
}

.register .form-control {
    box-shadow: none;
    /*border-color: rgba(112,88,75,.4);*/
    /*border-color: #3D3536;*/
    /*border-color: white;*/
}

.register .form-control:focus {
    border-color: rgba(112,88,75,.6);
    /*border-color: #70584b;*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(153,163,122,.4);*/
    box-shadow: none;
    background-color: #fff;
}

.register .form-row p {
    opacity: 0.5;
}

.register ul {
    margin: 0;
}

.register .help-block {
    margin-top: 5px;
    margin-bottom: -5px;
}

.register .interest p {
    color: #3D3536;
    opacity: 0.5;
    margin-bottom: 5px;
}

.dark-btn {
    color: #3d3536;
    font-size: 2em;
    font-weight: 600;
    padding: 0.1em 0.5em;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid #3d3536;
}

.dark-btn:hover {
    color: #e8e8e8;
    background-color: #3d3536;
}

.dark-btn:disabled {
    opacity: 0.5;
    /*color: #aab2bd;*/
    /*font-size: 2em;*/
    /*font-weight: 600;*/
    /*padding: 0.1em 0.5em;*/
    /*background-color: #e6e9ed;*/
    /*text-decoration: none;*/
    /*border: 2px solid #aab2bd;*/
}

.dark-btn:disabled:hover {
    color: #3d3536;
    background-color: transparent;
    border: 2px solid #3d3536;
}

.register .dark-btn {
    font-size: 1.75em;
}

.register #loading {
    margin-top: 20px;
}

.register .fa-check {
    color: #b5d6aa;
}

.social {
    background-color: #3d3536;
}

.social .fb {
    margin-bottom: 2%;
}

/*----------------------------------------------*/
/* SUB PAGES
/*----------------------------------------------*/

.sub-page-cover {
    padding: 110px 0 60px;
    color: #e8e8e8;
}

.sub-page-content {
    padding: 3% 0;
}

.who-is-coming {
    padding: 3% 0 0;
}

.who-is-coming .container {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
}

.who-is-coming .filter {
    padding: 5px 4%;
    background-color: #99a37a;
}

.who-is-coming .ui-select-match .ui-select-match-item {
    margin-right: 5px;
}

.who-is-coming .content {
    overflow: scroll;
}

.who-is-coming table {
    width: 100%;
    border-color: transparent;
    border-spacing: 0 4px;
    border-collapse: separate;
}
.who-is-coming th {
    border: none;
    padding: 5px 15px;
    background-color: #f4f1e2;
}

.who-is-coming th:first-child {
    padding-left: 4%;
}

.who-is-coming th:last-child {
    padding-right: 4%;
}

.who-is-coming tr {
    padding: 0.5% 2%;
    border: none;
    background-color: #e8e8e8;
}

.who-is-coming td {
    padding: 5px 15px;
}
/*
.who-is-coming td:first-child {
    padding-left: 4%;
}

.who-is-coming td:last-child {
    padding-right: 4%;
}*/

.footer {

}

.footer .contact {
    width: 100%;
    height: 100%;
    color: #f4f1e2;
    background-color: #3d3536;
}

.footer .power-by {
    padding: 10px 0;
    color: #555;
    width: 100%;
    height: 100%;
    background-color: #141111;
}

.footer .circle {
    color: #f4f1e2;
    padding: .4em;
    width: 2.8em;
    height: 2.8em;
    background: #70584B;
    -moz-border-radius: 1.4em;
    -webkit-border-radius: 1.4em;
    border-radius: 1.4em;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.footer .circle:hover {
    opacity: 0.9;
}